.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  background-color: #606c38;
}

.heading {
  font-size: 2em;
  color: #fefae0;
}

.tableWrapper {
  display: flex;
  justify-content: center;
  width: 80%;
}

.table {
  min-width: 75%;
  border: 2px solid #fefae0;
  color: #fefae0;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.1em;
}

.table > thead > tr > th {
  padding: 10px;
  border-bottom: 2px solid #fefae0;
}
.table > thead > tr > th:first-child {
  border-right: 2px solid #fefae0;
}

.table > tbody > tr > td:first-child {
  border-right: 2px solid #fefae0;
}

.table > tbody > tr > td:nth-child(2) {
  text-align: left;
}

.table > tbody  > tr > td {
  padding: 10px;
}

