.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  width: 270px;
  padding: 5px 0;
}

.task {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0 5px;
  text-align: center;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px dotted #6b9080;
}

.hiddenCategory {
  display: none;
}
