.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  background-color: #606c38;
}

.heading {
  font-size: 2em;
  color: #fefae0;
}

.sliderWrapper {
  width: 70%;
}