.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaf4f4;
  width: 100%;
  padding-bottom: 50px;
}

.heading {
  font-size: 2em;
  color: #6b9080;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;

}
